

<ion-content class="ion-margin ion-no-padding">
    <section>
      <ion-button [routerLink]="['/contact-register']">Nuevo Contacto</ion-button>
    </section>
    <section class="ion-padding">
       <ion-title color="medium" class="ion-text-center">CONTACTOS</ion-title>
       <ion-list>
         <ion-item *ngFor="let contact of contacts"  >
            <ion-avatar class="ion-text-center ion-margin">
              <ion-icon name="person" color="primary"></ion-icon>
            </ion-avatar>
            <ion-label>
              <h2>{{contact.fullName}}</h2>
              <h3>{{contact.email}}</h3>
              <p>{{contact.phoneNumber}}</p>
            </ion-label>

         </ion-item>
         
       </ion-list>
    </section>
</ion-content>
